.container {
  /* display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px; */
  display: flex;
  border-style: dotted;
  border-color: black;
  margin: 10px;
  background-color: lightblue;
 }
 
 img {
   max-width: 100%;
   max-height:100%;
 }
 
 .text {
   font-size: 70px;
 }