body {
  background-color: rgb(240, 225, 140);
  margin: 0 15% 0 20%;
}
.form {
  justify-self: center;
  text-align: center;
}

p {
  display: inline-block;
  margin: 10px;
}
#title-name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1rem;
  font-family: sans-serif;
  font-size: 3rem;
  color: #3510a4;
}
.return {
  margin-top: 3rem;
}
.questionText {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #3510a4;
}

/* Collapsed answers */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #555;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Completez les phrases */
.showAnswer {
  height: 30px;
  width: 250px;
  background-color: aquamarine;
  padding: 10px;
  text-align: center;
}


